<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--  <meta name="description" content="">-->
<!--  <meta name="author" content="">-->
<!--  <title>Signin Template for Bootstrap</title>-->
<!--  &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
<!--  <link href="asserts/css/bootstrap.min.css" rel="stylesheet">-->
<!--  &lt;!&ndash; Custom styles for this template &ndash;&gt;-->
<!--  <link href="asserts/css/signin.css" rel="stylesheet">-->
<!--</head>-->

<!--<body class="text-center">-->
<!--<form class="form-signin" th:action="@{/tobindmail}">-->
<!--  <img class="mb-4" src="asserts/img/bootstrap-solid.svg" alt="" width="72" height="72">-->
<!--  <h1 class="h3 mb-3 font-weight-normal">绑定邮箱</h1>-->


<!--  <p style="color: red" th:text="${bindmailmsg}" th:if="${not #strings.isEmpty(bindmailmsg)}"></p>-->




<!--  <label class="sr-only">Username</label>-->
<!--  <input type="text" name="username" class="form-control" placeholder="Username" required="" autofocus="">-->
<!--  <p></p>-->
<!--  <label class="sr-only">Email</label>-->
<!--  <input type="text" name="email" class="form-control" placeholder="Email" required="">-->
<!--  <p></p>-->


<!--  &lt;!&ndash;  <button class="btn btn-lg btn-primary btn-block" type="submit">获取验证码</button>&ndash;&gt;-->



<!--  <label class="sr-only">验证码</label>-->
<!--  <input type="text" name="vrifyCode" class="form-control" placeholder="验证码（点击图片刷新）">-->
<!--  <div class="checkbox mb-3">-->
<!--  </div>-->
<!--  <div>-->
<!--    <img alt="验证码" onclick = "this.src='/defaultKaptcha?d='+new Date()*1" src="/defaultKaptcha" />-->
<!--  </div>-->

<!--  <p></p>-->


<!--  <p></p>-->
<!--  <button class="btn btn-lg btn-primary btn-block" type="submit">绑定</button>-->

<!--  <p></p>-->

<!--  <p class="mt-5 mb-3 text-muted">© 2022-2023</p>-->
<!--  <a class="btn btn-sm">中文</a>-->
<!--  <a class="btn btn-sm">English</a>-->
<!--</form>-->

<!--</body>-->

<!--</html>-->
