<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>自己留言</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/liuyan}">
<!--    <img class="mb-4" src="asserts/img/bootstrap-solid.svg" alt="" width="72" height="72">-->
    <h1 class="h3 mb-3 font-weight-normal">请输入你想发布的任务</h1>

<!--        			设置消息回显 msg不为空才回显-->
<!--    <p style="color: red" th:text="${registermsg}" th:if="${not #strings.isEmpty(registermsg)}"></p>-->


<!--    <label class="sr-only"></label>-->
    <textarea name="message" rows="10" cols="25"></textarea>
    <p><a href="/main.html"><button class="btn btn-lg btn-primary btn-block" type="button">返回主页</button></a></p>
    <p></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">提交任务</button>
    <p class="mt-5 mb-3 text-muted">© 2022-2023</p>
<!--    <a class="btn btn-sm">中文</a>-->
<!--    <a class="btn btn-sm">English</a>-->
</form>

</body>

</html>
